In [ ]:
# ! pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.3.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (2.1.4)
Requirement already satisfied: numpy>=1.16.0 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (1.26.4)
Requirement already satisfied: matplotlib>=3.1.3 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (3.7.5)
Requirement already satisfied: tqdm>=4.43.0 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (4.67.0)
Requirement already satisfied: scipy>=1.3.2 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (1.11.4)
Requirement already satisfied: jinja2>=2.11.1 in d:\tinkerform\.mypyenv\lib\site-packages (from sweetviz) (3.1.4)
Collecting importlib-resources>=1.2.0 (from sweetviz)
  Downloading importlib_resources-6.4.5-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in d:\tinkerform\.mypyenv\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.0)
Requirement already satisfied: cycler>=0.10 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.7)
Requirement already satisfied: packaging>=20.0 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (24.1)
Requirement already satisfied: pillow>=6.2.0 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\tinkerform\.mypyenv\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\tinkerform\.mypyenv\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in d:\tinkerform\.mypyenv\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2024.2)
Requirement already satisfied: colorama in d:\tinkerform\.mypyenv\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.6)
Requirement already satisfied: six>=1.5 in d:\tinkerform\.mypyenv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Downloading sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
   ---------------------------------------- 0.0/15.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.1 MB 3.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.3/15.1 MB 3.4 MB/s eta 0:00:05
   ------ --------------------------------- 2.6/15.1 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/15.1 MB 4.7 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/15.1 MB 4.8 MB/s eta 0:00:03
   --------------- ------------------------ 5.8/15.1 MB 4.8 MB/s eta 0:00:02
   ----------------- ---------------------- 6.6/15.1 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.3/15.1 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 8.1/15.1 MB 4.3 MB/s eta 0:00:02
   ------------------------ --------------- 9.2/15.1 MB 4.4 MB/s eta 0:00:02
   --------------------------- ------------ 10.5/15.1 MB 4.5 MB/s eta 0:00:02
   ------------------------------- -------- 11.8/15.1 MB 4.6 MB/s eta 0:00:01
   --------------------------------- ------ 12.6/15.1 MB 4.6 MB/s eta 0:00:01
   ----------------------------------- ---- 13.4/15.1 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 14.4/15.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  14.9/15.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 15.1/15.1 MB 4.4 MB/s eta 0:00:00
Downloading importlib_resources-6.4.5-py3-none-any.whl (36 kB)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-6.4.5 sweetviz-2.3.1

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import sweetviz as sv
import seaborn as sns

In [8]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
report = sv.analyze(df)
report.show_html('sweet_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.