In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [31]:
df = pd.read_csv('Forest_fire.csv')
df.head()

        Area  Oxygen  Temperature  Humidity  Fire Occurrence
0   Jharkand      40           45        20                1
1  Bangalore      50           30        10                1
2    Ecuador      10           20        70                0
3          a      60           45        70                1
4  Bangalore      30           48        10                1

In [32]:
(df.isnull().sum())

Area               10
Oxygen              0
Temperature         0
Humidity            0
Fire Occurrence     0
dtype: int64

In [33]:
df.shape

(39, 5)

In [34]:
df = df.drop('Area',axis=1)

In [40]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]
scale = StandardScaler()
X_scaled = scale.fit_transform(X)

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=42)

In [45]:
log_reg = LogisticRegression()

model = log_reg.fit(X_train,y_train)
y_pred = model.predict(X_test)
score = accuracy_score(y_test,y_pred)
score

d:\TinkerForm\.mypyenv\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.875

In [43]:
pickle.dump(model,open('model.pkl','wb'))